# dataset
dataset/

# python cache
__pycache__/
*.pyc

# jupyter checkpoints
.ipynb_checkpoints/

# mac system file
.DS_Store
results/.DS_Store

# model 
best_model.pth  

# reports
Visualizations/Q1101361_Abhishekgarg.docx
Visualizations/Q1101361_Abhishekgarg.pdf
Visualizations/Q1101361_Abhishekgarg.doc